server:
  port: 8080

spring:
  application:
    name: mtracker
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${L_MT_MYSQL_URL}
    username: ${L_MT_MYSQL_USERNAME}
    password: ${L_MT_MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /api-docs

logging:
  level:
    org:
      springframework:
        security: TRACE
security:
  jwt:
    secret-key: ${L_MT_JWT_SECRET_KEY}
    expiration-time: ${L_MT_JWT_EXPIRATION_TIME}